In [5]:
import pandas as pd

In [7]:
arr = [1,2,3]
ser = pd.Series(arr)

ser

0    1
1    2
2    3
dtype: int64

In [8]:
ser[0]

1

In [10]:
ser_indexes = pd.Series(arr,index=['a','s','d'])
ser_indexes

a    1
s    2
d    3
dtype: int64

In [11]:
d = {
    'x':1,
    'y':2,
    'z':3
}
d

{'x': 1, 'y': 2, 'z': 3}

In [15]:
ser2 = pd.Series(d)
ser2

x    1
y    2
z    3
dtype: int64

In [16]:
ser3 = pd.Series(d , index=['x'])
ser3

x    1
dtype: int64

In [18]:
data = {
    'c': [200,300,400],
    'd': [30,40,50]
}

data

{'c': [200, 300, 400], 'd': [30, 40, 50]}

In [19]:
df = pd.DataFrame(data)
df

     c   d
0  200  30
1  300  40
2  400  50

In [21]:
df.loc[0]['d']

30

In [22]:
df.loc[0]

c    200
d     30
Name: 0, dtype: int64

In [23]:
df.loc[[0,1]]

     c   d
0  200  30
1  300  40

In [24]:
#data_set = pd.read_csv("./path.csv")

In [25]:
#data_set.head()
#data_set.tail()
#data_set.info()

In [26]:
#know your data
#empty
#wrong format
#wrong data

In [27]:
#new_df = data_set.dropma()
#new_df

In [28]:
#kaggle website for data sets

In [29]:
#data_set.dropna(inplace=True)
#data_set.fillna(inplace=True)

In [30]:
#new_df["colmn_name"].fillna(new_df[colmn_name].mean(),inplace=True)

In [31]:
#for x in new_df.index:
#    if new_df.loc[x]["colmn_name"] > 120:
#        new_df.loc[x , "colmn_name"] = new_df["colmn_name"].mode()[0]

In [32]:
#new_df.duplicates()
#new_df.drop_duplicates()

In [33]:
#تكليف حمل داتاست من الكاقل ونضفها وطبق عليها وسوي لها توثيق بسيط على ايش سويت في كل خطوة