In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('O:/Loan payments data.csv')

In [3]:
data.head()

,Loan_ID,loan_status,Principal,terms,effective_date,due_date,paid_off_time,past_due_days,age,education,Gender
0,xqd20166231,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/14/2016 19:31,NaN,45,High School or Below,male
1,xqd20168902,PAIDOFF,1000,30,9/8/2016,10/7/2016,10/7/2016 9:00,NaN,50,Bechalor,female
2,xqd20160003,PAIDOFF,1000,30,9/8/2016,10/7/2016,9/25/2016 16:58,NaN,33,Bechalor,female
3,xqd20160004,PAIDOFF,1000,15,9/8/2016,9/22/2016,9/22/2016 20:00,NaN,27,college,male
4,xqd20160005,PAIDOFF,1000,30,9/9/2016,10/8/2016,9/23/2016 21:36,NaN,28,college,female

In [4]:
selected_columns = ['Gender', 'education', 'age','loan_status']  
data = data[selected_columns]

In [15]:
data.head()

   Gender             education  age loan_status
0    male  High School or Below   45     PAIDOFF
1  female              Bechalor   50     PAIDOFF
2  female              Bechalor   33     PAIDOFF
3    male               college   27     PAIDOFF
4  female               college   28     PAIDOFF

In [18]:
X = encoded_data.drop('loan_status', axis=1)
y = encoded_data['loan_status']

In [19]:
X.head()

   Gender  education  age
0       1          1   45
1       2          2   50
2       2          2   33
3       1          3   27
4       2          3   28

In [8]:
from category_encoders import OrdinalEncoder

In [16]:
encoder = OrdinalEncoder(cols=['Gender', 'education'])  # Replace 'column1' and 'column2' with the actual column names
encoded_data = encoder.fit_transform(data)

In [17]:
encoded_data.head()

   Gender  education  age loan_status
0       1          1   45     PAIDOFF
1       2          2   50     PAIDOFF
2       2          2   33     PAIDOFF
3       1          3   27     PAIDOFF
4       2          3   28     PAIDOFF

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)

# Create a Naive Bayes classifier
classifier = GaussianNB()

# Train the classifier
classifier.fit(X_train, y_train)

# Make predictions on the test set
y_pred = classifier.predict(X_test)

# Evaluate the accuracy of the classifier
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.63

In [115]:
new_data = {
    'Gender': [1],  # Replace 'feature1' with the actual feature column name and 'value1' with the value
    'education': [3],
    'age':[27]
    # Add more feature-value pairs as needed
}

# Create a DataFrame for the new data row
X_new = pd.DataFrame(new_data)

In [116]:
y_pred = classifier.predict(X_new)

In [117]:
y_pred

array(['PAIDOFF'], dtype='<U18')

In [118]:
X_new

   Gender  education  age
0       1          3   27